[*.cs]

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = none

# S2699: Tests should include assertions
dotnet_diagnostic.S2699.severity = none

# S1450: Private fields only used as local variables in methods should become local variables
dotnet_diagnostic.S1450.severity = none

dotnet_diagnostic.CS1591.severity = none

csharp_style_pattern_matching_over_as_with_null_check = true:none
dotnet_style_object_initializer = false:none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# S2365: Properties should not make collection or array copies
dotnet_diagnostic.S2365.severity = none

# IDE0037: Use inferred member name
dotnet_style_prefer_inferred_anonymous_type_member_names = false:suggestion

dotnet_diagnostic.CS0168.severity = none
